<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authentication Providers Configuration</title>
  </head>
  <body>
    <h1>Authentication Providers Configuration</h1>

    <form method="POST" action="{{ url_for('configure') }}">
      <h2>Available Providers:</h2>
      {% for provider, enabled in enabled_providers.items() %}
      <label for="{{ provider }}">
        <input
          type="checkbox"
          id="{{ provider }}"
          name="{{ provider }}_enabled"
          {%
          if
          enabled
          %}checked{%
          endif
          %}
        />
        {{ provider.capitalize() }}
      </label>
      <br />
      {% endfor %}
      <br />
      <button type="submit">Update Configuration</button>
    </form>
  </body>
</html>
